body {
    background-color: #282c34;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
}
.App {
    text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}
.container {
    display: flex;
    width: 400px;
    margin: 40px auto;
    flex-direction: column;
}
.container h3 {
    color: #ffffff;
}
.listCont {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 300px;
    overflow-y: auto;
}
.listItem {
    display: flex;
    flex: 1;
    background: #ffffff;
    color: #333333;
    border-bottom: 1px solid #dddddd;
    padding: 16px;
    position: relative;
    align-items: center;
}
.listItem span {
    flex: 1;
    text-align: left;
    line-height: 25px;
}
.listItem svg {
    margin-left: 16px;
    cursor: pointer;
    /* display: none; */
}
.error {
    background: #a20025;
    color: #ffffff;
    padding: 10px;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    width: auto;
}
.success {
    background: #60a917;
    color: #ffffff;
    padding: 10px;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    width: auto;
}
.error p,
.success p {
    margin: 0px;
    line-height: 13px;
}
.listItem:hover svg {
    display: inline-block;
}
.actionCont {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}
.actionCont span {
    display: flex;
    width: 100%;
    color: #ffffff;
    padding-top: 10px;
}
.actionCont textarea {
    width: 100%;
    resize: none;
    height: 100px;
    margin: 10px;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.actionCont button {
    background: #60a917;
    border: none;
    padding: 8px;
    font-size: 18px;
    cursor: pointer;
    color: #ffffff;
    width: 120px;
    margin-right: 10px;
    border-radius: 3px;
    font-size: 14px;
}
.info {
    flex: 1;
}
.info span {
    display: block;
}
.info span:last-child {
    font-size: 10px;
    font-style: italic;
}
